# Environment files
.env

# Spring Boot config files
application.properties
application.yml

# Private keys
*.pem

# Build folders
target/
build/

# Logs
*.log
# Spring Boot config
**/src/main/resources/application.yml
**/src/main/resources/application.properties

# Build outputs
**/target/

# Env / keys
.env
*.pem
